{% extends 'base.html.twig' %}

{% block title %}Ânes-OK | Nos ânes{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header_img %}
    <img src="/img/bckgnd_header_contact.jpg" class="bckgnd_top" alt="">
{% endblock %}
{% block body %}
    {% set cpt = 1 %}
    {% for ane in anes %}
        {% set ageAne =  ('now'|date('Y'))-(ane.anneeNaissance) %}
        <article class="grid_article">
            <h2 class="titre_article text_center">{{ ane.nom }} - {{ ageAne }} ans</h2>
            <hr>
            <div class="texte_article">{{ ane.text }}</div>
            <div id="show_image_{{ cpt }}" class="image_article">
                <img src="https://placeimg.com/618/400/1" class="rounded">

            </div>
            <div id="thumbnails_{{ cpt }}" class="thumb_article">
                <img src="https://placeimg.com/100/50/2" class="rounded">
                <img src="https://placeimg.com/100/50/3" class="rounded">
                <img src="https://placeimg.com/100/50/10" class="rounded">
                <img src="https://placeimg.com/100/50/5" class="rounded">
                <img src="https://placeimg.com/100/50/20" class="rounded">
                <img src="https://placeimg.com/100/50/26" class="rounded">
            </div>
        </article>
        {% set cpt = cpt+1 %}
    {% endfor %}
    {% block javascripts %}
       {{ parent() }}
        <script type="text/javascript" src="/js/jquery.cycle2.min.js"></script>
    {% endblock %}
{% endblock %}
