{% extends 'base.html.twig' %}

{% block title %}Ânes-OK | Nos ânes{% endblock %}

{% block header_img %}
    <img src="/img/bckgnd_header_contact.jpg" class="bckgnd_top" alt="">
{% endblock %}
{% block body %}
    {% set cpt = 1 %}
    {% for ane in anes %}
        {% set ageAne =  ('now'|date('Y'))-(ane.anneeNaissance) %}
        <article class="grid_article">
            <h2 class="titre_article text_center">{{ ane.nom }} - {{ ageAne }} ans</h2>
            <hr>
            <div class="texte_article">
                {{ ane.text }}
            </div>
            {% if ane.image[0] is defined %}
                <div id="show_image_{{ cpt }}" class="image_article">
                    <img src="{{ asset('uploads/images_anes/' ~ ane.image[0].lien[:32]) }}-large.jpg" class="rounded" id="large_image_{{ cpt }}">
                </div>
                <div id="thumbnails_{{ cpt }}" class="thumb_article">
                    {% for img in ane.image |slice(0, 6)%}
                        <img src="{{ asset('uploads/images_anes/' ~ img.lien[:32]) }}-thumb.jpg" class="rounded" data-id="{{ cpt }}">
                    {% endfor %}
                </div>
            {% endif %}
        </article>
        {% set cpt = cpt+1 %}
    {% endfor %}
{% endblock %}
