{% extends 'base.html.twig' %}

{% block title %}Ânes-OK | Nos ânes{% endblock %}

{% block header_img %}
    <img src="/img/bckgnd_header_contact.jpg" class="bckgnd_top" alt="">
{% endblock %}
{% block body %}
    {% set cpt = 1 %}
    {% for ane in anes %}
        {% set ageAne =  ('now'|date('Y'))-(ane.anneeNaissance) %}
        <article class="grid_article">
            <h2 class="titre_article text_center">{{ ane.nom }} - {{ ageAne }} ans</h2>
            <hr>
            <div class="texte_article">
                {{ ane.text }}
{{ ane.image001[:32] }}
            </div>
            <div id="show_image_{{ cpt }}" class="image_article">
                <img src="{{ asset('uploads/images_anes/' ~ ane.image001[:32]) }}-large.jpeg" class="rounded" id="large_image_{{ cpt }}">
            </div>
            <div id="thumbnails_{{ cpt }}" class="thumb_article">
                <img src="{{ asset('uploads/images_anes/' ~ ane.image001[:32]) }}-thumb.jpeg" class="rounded" data-id="{{ cpt }}">
                <img src="{{ asset('uploads/images_anes/' ~ ane.image002[:32]) }}-thumb.jpeg" class="rounded" data-id="{{ cpt }}">
                <img src="{{ asset('uploads/images_anes/' ~ ane.image003[:32]) }}-thumb.jpeg" class="rounded" data-id="{{ cpt }}">
                <img src="{{ asset('uploads/images_anes/' ~ ane.image004[:32]) }}-thumb.jpeg" class="rounded" data-id="{{ cpt }}">
                <img src="{{ asset('uploads/images_anes/' ~ ane.image005[:32]) }}-thumb.jpeg" class="rounded" data-id="{{ cpt }}">
                <img src="{{ asset('uploads/images_anes/' ~ ane.image006[:32]) }}-thumb.jpeg" class="rounded" data-id="{{ cpt }}">
            </div>
        </article>
        {% set cpt = cpt+1 %}
    {% endfor %}
{% endblock %}
